<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td>
          <%if product.provider.present? %>
          <%= product.provider.name %>
          <%else %>
          <span>no provider</span>
          <%end %>
          
          </td>
          
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'add to cart', "/cart?product_id=#{product.id}", method: :post %></td>
        <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Product', new_product_path %>
